@import '../smallDevice.scss';

.appWrapper {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}

.appHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	margin: 10px;
}

.contentWrapper {
	background-color: var(--bg-2);
	padding: 2rem;
	margin: 10px;
	border-radius: 12px;

	@include smallDeviceSize {
		padding: 1rem;
	}
}

.emptyText {
	// display: inline-block;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--black-2);
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: var(--gray-2);
	width: max-content;
	height: auto;
	cursor: default;
}

.pending {
	color: orange;
}

.canceled {
	color: red;
}

.completed {
	color: green;
}