@import '../smallDevice.scss';
@import '../mediumDevice.scss';

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	font-family: 'Poppins';
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	color: var(--primaryPurple);

	.titleImg {
		width: 30px;
		height: 30px;
		object-fit: cover;
		border-radius: 50%;
	}

	.wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			text-decoration: none;
			color: var(--primaryPurple);
		}

		.userInfo {
			display: flex;
			height: 40px;
			align-items: center;
			justify-content: center;
			background-color: var(--primaryPurple);
			border-radius: 20px;
			padding: 10px;
			transition: all;
			transition-duration: 500ms;
			cursor: pointer;

			&:hover {
				background-color: var(--gray-2);
			}

			&:hover .userName {
				color: var(--primaryPurple);
			}

			.userName {
				margin-left: 5px;
				display: inline-block;
				font-size: 2rem;
				font-weight: 500;
				color: var(--white);

				@include smallDeviceSize {
					display: none;
				}

				@include mediumDeviceSize {
					display: none;
				}
			}

			@include smallDeviceSize {
				width: 40px;
				border-radius: 50%;
				padding: 0;
			}

			@include mediumDeviceSize {
				width: 40px;
				border-radius: 50%;
				padding: 0;
			}
		}


	}

	@include smallDeviceSize {
		width: 90%;
		justify-content: space-between;
		font-size: 3rem;
	}
}